<div class="wrapper">
    <h1>New Asia</h1>
    <a [routerLink]="['/']">home</a>
    <a [routerLink]="['/page1']">page1</a>
</div>
<input type="button" value="显示团信息" (click)="displayTour()">

<div *ngIf="!mydata">
    <nav class="navbar navbar-default" role="navigation">
        <div>
            <ul class="nav navbar-nav">
                <li><a routerLink="/login">登录</a></li>
                <li><a routerLink="/">home</a></li>
                <li><a routerLink="/page1">page1</a></li>
                <li><a [routerLink]="['/page2']">page2</a></li>
                <li><a href="#">Messages</a></li>
            </ul>
        </div>
    </nav>
</div>


<div *ngIf="mydata">
    <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert">
        &times;
        </a>
        <strong>登录成功！</strong>您已经登录系统！
    </div>
    <ul class="nav nav-pills nav-stacked">
        <li *ngFor="let user of mydata; let i=index" role="presentation" [ngClass]="{'active':checkState(i)}" (click)="onclickmenu(i)"><a routerLink="/{{user.id}}">{{user.name}}</a></li>
    </ul>
</div>
    